@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  position: relative;
  padding-left: 239px;
}

.logo-link {
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: none;
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.1;
}

.nav {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  margin: 0;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.main-menu-link:hover {
  color: #535353;
}

.main-menu-link:focus {
  color: #535353;
  outline: none;
}

.main-menu-link:active {
  color: #535353;
  background-color: rgba(104, 163, 202, 0.314);
}

.menu-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 0;
  border-top: 2px solid #756257;
}

.user-menu {
  margin: 0;
  list-style: none;
  width: 377px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 70px;
  justify-content: flex-end;
  row-gap: 10px;
}

.user-menu-link-search {
  width: 44px;
  height: 64px;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  background-position: center center;
  display: block;
}

.user-menu-link-search:hover {
  color: #535353;
}

.user-menu-link-search:focus {
  color: #535353;
  outline: none;
}

.user-menu-link-search:active {
  color: #535353;
  background-color: rgba(104, 163, 202, 0.353);
  opacity: 0.3;
}

.user-menu-link-favourite {
  width: 44px;
  height: 64px;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
}

.user-menu-link-favourite:hover {
  color: #535353;
}

.user-menu-link-favourite:focus {
  color: #535353;
  outline: none;
}

.user-menu-link-favourite:active {
  color: #535353;
  background-color: rgba(104, 163, 202, 0.353);
  opacity: 0.3;
}

.user-menu-item-button {
  margin-left: 20px;
}

.user-menu-link-invitation {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 34px 6px 35px;
  background-color: #756157;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  max-width: 168px;
}

.user-menu-link-invitation:hover {
  background-color: #615048;
}

.user-menu-link-invitation:focus {
  outline: none;
  background-color: #615048;
}

.user-menu-link-invitation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.fav-count {
  color: #ffffff;
  background-color: #7db54f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page-main {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  flex-grow: 1;
}

.welcome-quote {
  background-color: #5b91b4;
  background-image: url("../images/triangle.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  font-size: 28px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 52px 0 82px;
  background-size: 100% 57px, cover;
  min-height: 352px;
  background-position: left 0 bottom 0, center top;
}

.welcome-quote-image {
  width: 458px;
  height: 352px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.advantages {
  padding-top: 68px;
}

.slogan {
  margin: 0 auto 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  max-width: 660px;
}

.advantages-text {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  max-width: 660px;
  padding-bottom: 90px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-blue {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-image {
  display: block;
  height: 100%;
}

.container-advantages {
  background-color: #82b3d3;
  width: 400px;
  text-align: center;
  margin: 0;
  padding: 103px 86px 100px 85px;
  box-sizing: border-box;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  margin: 0;
  padding: 112px 85px 111px 85px;
  box-sizing: border-box;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  border-top: 2px solid rgba(0, 0, 0, 0.302);
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
}

.advantages-item-blue .advantages-title {
  color: #ffffff;
}

.advantages-item-blue .advantages-title::after {
  border-top: 2px solid rgba(255, 255, 255, 0.302);
}

.advantages-description {
  color: #333333;
  margin: 0;
  margin-top: 63px;
  text-align: center;
}

.advantages-item-blue .advantages-description {
  color: #ffffff;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.recommendation {
  padding: 65px 0 64px 0;
  list-style-type: none;
  text-decoration: none;
}

.recommendation-slogan {
  margin: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  margin-bottom: 24px;
  width: 1200px;
}

.recommendation-description {
  margin: 0;
  margin-top: 22px;
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 19px;
  padding: 0;
  text-align: center;
  margin-bottom: 68px;
}

.recommendation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.recomendation-item {
  background-color: rgba(130, 179, 211, 0.122);
  width: 400px;
  padding-top: 180px;
  padding-bottom: 81px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center 83px;
  text-align: 10px center;
}

.recomendation-item:nth-child(2n) {
  background-color: #ffffff;
}

.recomendation-item-house {
  background-image: url("../images/house.svg");
}

.recomendation-item-food {
  background-image: url("../images/hamburger.svg");
}

.recomendation-item-present {
  background-image: url("../images/present.svg");
}

.recommendation-title {
  margin: 0;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  font-size: 24px;
}

.recommendation-desc {
  margin: 0;
  padding-top: 31px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  padding: 34px 0 95px 0;
}

.search-question {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 600px;
  margin-bottom: 21px;
}

.search-item {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  padding-top: 0;
  width: 600px;
  margin-bottom: 52px;
}

.button-search {
  padding: 8px 50px;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 376px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  outline: none;
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.subscribe {
  background-color: #286a96;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  padding: 99px 258px 104px 258px;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-desc {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-form {
  width: 684px;
  display: flex;
  text-align: center;
  margin-top: 54px;
  border: none;
}

.field {
  padding: 12px 20px;
  align-items: center;
  border-radius: 4px 0 0 4px;
  background: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  width: 452px;
  line-height: 24px;
  padding-left: 18px;
  min-height: 52px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
}

.field:hover {
  outline: 2px solid #68a2ca;
}

.field:focus {
  outline: 2px solid #68a2ca;
}

.field:active {
  outline: 2px solid #3f5e72;
}

.button-subscribe {
  color: #ffffff;
  width: 232px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
  align-items: center;
  border-radius: 0 4px 4px 0;
  background: #82b3d3;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.button-subscribe:hover {
  background-color: #68a2ca;
}

.button-subscribe:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.page-footer {
  background: #ffffff;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 34px 69px 33px 71px;
}

.footer-social-list {
  width: 141px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  padding-top: 11px;
}

.footer-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #82b3d3;
}

.footer-link:hover {
  color: #68a2ca;
}

.footer-link:focus {
  color: #68a2ca;
  outline: none;
}

.footer-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.phone-item {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.text-item {
  padding-top: 14px;
}

.phone-button {
  display: block;
  width: 500px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-top: 10px;
  padding-left: 149px;
  padding-right: 150px;
}

.phone-button:hover {
  color: #756157;
}

.phone-button:focus {
  color: #756157;
  outline: none;
}

.phone-button:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-logo {
  text-decoration: none;
  color: #000000;
}

.navigation-logo:hover {
  color: #756157;
}

.navigation-logo:focus {
  color: #756157;
  outline: none;
}

.navigation-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html {
  width: 114.9px;
  height: 32.9px;
  padding-right: 5px;
  padding-top: 5px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}

.main-inner {
  padding: 0;
  margin: 0;
}

.inner-header {
  background-color: #156194;
  background-image: url("../images/foto-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 53px 70px;
}

.inner-header-title {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  color: #ffffff;
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  width: 600px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 5px;
  padding-right: 20px;
  background-repeat: no-repeat;
}

.breadcrumbs-item::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../images/next.svg");
  top: 5px;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-link-home {
  width: 20px;
  height: 19px;
  margin-left: -4px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-home-image {
  color: #ffffff;
}

.breadcrumbs-home-image:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home-image:focus {
  color: #615048;
  outline: none;
}

.breadcrumbs-home-image:active {
  color: #1d1b1b3c;
}

.breadcrumbs-link {
  color: #ffffff;
  width: 114px;
  height: 21px;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 23px;
  color: #ffffff;
}

.container-products {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.price {
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.catalog-filter-list {
  padding: 0;
  margin-top: 35px;
}

.catalog-filter-item {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  margin-bottom: 17px;
}

.checkbox-label {
  display: inline-block;
  padding-left: 36px;
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 0;
}

.checkbox-label::after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  left: 4px;
  top: 6px;
  border-left: 2px solid rgba(63, 94, 114, 1);
  border-bottom: 2px solid rgba(63, 94, 114, 1);
  transform: rotate(-45deg);
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  display: block;
}

.checkbox-label:hover {
  opacity: 0.6;
}

.checkbox-input:focus + .checkbox-label::before {
  outline: #82b3d3 solid 3px;
}

.checkbox-input:active + .checkbox-label {
  opacity: 0.3;
}

.checkbox-input:disabled + .checkbox-label {
  opacity: 0.3;
}

.control {
  padding-left: 38px;
  padding-top: 1px;
  display: inline-block;
}

.control::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  top: 0;
}

.control::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 6px;
  top: 5px;
  background-color: #3f5e72;
  display: none;
  border-radius: 50%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.price {
  width: 287px;
  padding: 0;
  margin: 0;
}

.control-input:checked + .control::after {
  display: block;
}

.control:hover {
  opacity: 0.3;
}

.control-input:focus + .control::before {
  outline: #82b3d3 solid 3px;
}

.control-input:active + .control {
  opacity: 0.3;
}

.control-input:disabled + .control {
  opacity: 0.3;
}

.cost {
  display: flex;
  position: relative;
  margin-top: 34px;
  gap: 2px;
}

.cost-from {
  width: 143px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
  padding: 15px 20px 12px 21px;
  font-size: 18px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.cost-from:hover {
  background-color: #e6e6e6;
}

.cost-from:focus {
  outline: 3px solid #68a2ca;
}

.cost-from:active {
  outline: 2px solid #000000;
}

.catalog-filter-from {
  position: absolute;
  top: 13px;
  left: 106px;
  color: #333333;
}

.cost-till {
  width: 143px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  border: none;
  box-sizing: border-box;
  padding: 14px 11px 11px 21px;
  font-size: 18px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.cost-till:hover {
  background-color: #e6e6e6;
}

.cost-till:focus {
  outline: 3px solid #68a2ca;
}

.cost-till:active {
  outline: 2px solid #000000;
}

.catalog-filter-till {
  position: absolute;
  top: 13px;
  left: 248px;
  color: #333333;
}

.container-cost {
  position: relative;
  width: 287px;
  height: 20px;
  margin-top: 36px;
}

.range {
  background-color: #ffffff;
  z-index: 5;
  width: 226px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 0;
}

.scale {
  position: absolute;
  width: 287px;
  background-color: #535353;
  top: 8px;
  z-index: 1;
  left: 0;
  height: 4px;
}

.handler {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: #ffffff;
  z-index: 10;
}

.handler:focus {
  outline: #82b3d3 solid 3px;
}

.handler:active {
  outline: #82b3d3 solid 3px;
}

.handler-min {
  left: 0;
}

.handler-max {
  left: 207px;
}

.confirm-button {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.apply {
  background: #82b3d3;
  color: #ffffff;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  width: 191px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
}

.apply:hover {
  background-color: #68a2ca;
}

.apply:focus {
  background-color: #68a2ca;
  outline: none;
}

.apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.apply:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.reset {
  color: #ffffff;
  background: transparent;
  margin-top: 33px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  width: 191px;
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
}

.reset:hover {
  background: transparent;
}

.reset:focus {
  background: transparent;
  outline: 3px solid #83b3d3;
}

.reset:active {
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.reset:disabled {
  opacity: 0.1;
}

.catalog-hotels {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 0;
  margin: 0;
}

.results {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
}

.container-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 522px;
}

.select-control {
  padding: 0 108px 0 19px;
  width: 293px;
  height: 49px;
  font-size: 18px;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/v.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: top 18px right 19px;
  background-color: #ffffffff;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.button-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 178px;
  justify-content: flex-end;
}

.view-button {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center center;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.view-button:active {
  border: 2px solid #000000;
}

.view-button-tile {
  background-image: url("../images/card.svg");
}

.view-button-card {
  background-image: url("../images/selected-card.svg");
}

.view-button-list {
  background-image: url("../images/li.svg");
}

.view-button-active {
  border-color: #000000;
}

.hotels-type {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 18px;
  padding: 39px 69px 19px;
}

.hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  min-height: 395px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-link {
  display: block;
  text-decoration: none;
}

.hotel-image {
  margin-bottom: 7px;
}

.hotel-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  width: 300px;
}

.hotel-image:hover {
  transition: all 0.5s ease;
}

.hotel-link:hover .hotel-image {
  opacity: 0.8;
  transform: scale(1.05);
}

.hotel-link:focus .hotel-image {
  opacity: 0.6;
  transform: scale(1.05);
}

.hotel-link:focus {
  outline: none;
}

.hotel-link:focus .hotel-title {
  color: #756157;
}

.prices {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 14px;
}

.hotel-price {
  margin: 0;
  color: #333333;
}

.start-price {
  margin: 0;
  color: #333333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 17px 20px;
  justify-content: space-between;
}

.hotel-details {
  text-decoration: none;
  border-radius: 4px;
  width: 140px;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 20px;
  display: block;
  box-sizing: border-box;
}

.hotel-details:hover {
  background-color: #615048;
}

.hotel-details:focus {
  outline: none;
  background-color: #615048;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.hotel-details:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-favorites {
  text-decoration: none;
  border-radius: 4px;
  background-color: #82b3d3;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 140px;
  padding: 8px 20px;
  display: block;
  text-transform: uppercase;
}

.hotel-favorites:hover {
  background-color: #68a2ca;
}

.hotel-favorites:focus {
  background-color: #68a2ca;
  outline: none;
}

.hotel-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-favorites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.raiting {
  display: block;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 140px;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.green {
  background-color: #7db54f;
}

.green:hover {
  background-color: #6c9e42;
}

.green:focus {
  background-color: #6c9e42;
  outline: none;
}

.green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.green:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.stars-raiting {
  margin: 8px 0;
  height: 17px;
  background: url("../images/star.svg") space 0 0;
}

.stars-raiting-one {
  width: 20px;
}

.stars-raiting-two {
  width: 41px;
}

.stars-raiting-three {
  width: 65px;
}

.stars-raiting-four {
  width: 88px;
}

.stars-raiting-five {
  width: 107px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  padding-left: 70px;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link {
  min-width: 60px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 18px;
  text-transform: uppercase;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-next {
  background-color: #ffffff;
  color: #000000;
}

.inner-subscribe {
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  padding: 96px 258px 104px 258px;
  justify-content: center;
  align-items: center;
  padding-top: 156px;
}

.inner-subscribe-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.inner-field {
  padding: 12px 20px;
  align-items: center;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  border: none;
  font-size: 20px;
  font-weight: 400;
  width: 452px;
  line-height: 24px;
  padding-left: 18px;
  min-height: 52px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
}

.inner-field:hover {
  outline: 2px solid #68a2ca;
}

.inner-field:focus {
  outline: 2px solid #68a2ca;
}

.inner-field:active {
  outline: 2px solid #3f5e72;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 717px;
  min-height: 576px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
  position: relative;
  padding: 70px 70px 64px 70px;
  box-sizing: border-box;
}

.modal-close {
  display: none;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 64px;
  right: 51px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:active .cross-svg {
  opacity: 0.3;
}

.modal-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.modal-form {
  margin-top: 73px;
}

.container-modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
}

.container-modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}

.container-modal-departure {
  margin-bottom: 15px;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.date {
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  line-height: 24px;
  padding: 12px 20px;
  width: 440px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: bottom 14px right 21px;
}

.date:hover {
  background-color: #e6e6e6;
}

.date:focus {
  outline: 3px solid #83b3d3;
  border: none;
}

.date:active {
  outline: 2px solid #000000;
}

.comment {
  margin: 4px 0 8px 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.comment-error {
  color: #ff5757;
}

.departure-comment {
  color: #000000;
  margin: 3px 0 30px 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.container-visitors {
  margin-bottom: 48px;
  display: flex;
  width: 577px;
  justify-content: space-between;
}

.visitors {
  display: flex;
  width: 247px;
}

.modal-form-label {
  width: 137px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: flex-start;
  text-transform: capitalize;
  display: block;
  padding-top: 11px;
}

.container-number {
  background-color: #f2f2f2;
  display: flex;
}

.minus-plus {
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 48px;
  cursor: pointer;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2f2;
}

.minus-plus:hover {
  color: #000000;
}

.minus-plus:focus {
  outline: none;
}

.minus-plus::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  top: 10px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.minus-plus:hover::before {
  border: none;
}

.minus-plus:focus::before {
  border: 3px solid #82b3d3;
}

.minus-plus:active::before {
  border: none;
  opacity: 0.2;
}

.adults {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  width: 31px;
  height: 48px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.adults:focus {
  outline: 3px solid #82b3d3;
  z-index: 5;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
}

.plus {
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 48px;
  cursor: pointer;
  position: relative;
}

.plus::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 3px solid transparent;
  border-radius: 4px;
  left: 8px;
  top: 10px;
}

.plus:hover::before {
  border: none;
}

.plus:focus::before {
  border: 3px solid #82b3d3;
}

.plus:active::before {
  border: none;
  opacity: 0.2;
}

.button-modal {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 577px;
  padding: 18px 77px;
  background: #83b3d3;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-modal:hover {
  background: #68a2ca;
}

.button-modal:focus {
  background: #68a2ca;
  outline: none;
}

.button-modal:active {
  background: #83b3d3;
  color: rgba(255, 255, 255, 0.302);
}

.button-modal:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.visitors-children {
  display: flex;
  width: 242px;
}

.tultip {
  position: absolute;
  margin-left: 59px;
  margin-top: 11px;
}

.tultip:hover .tultip-container {
  display: block;
}

.tultip:focus-within .tultip-container {
  display: block;
}

.tultip-toggle {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.tultip-toggle:hover {
  outline: #6a94af;
}

.tultip-toggle:focus {
  outline: #82b3d3 solid 1px;
  opacity: 0.3;
}

.tultip-toggle:active {
  outline: #82b3d3 solid 1px;
  opacity: 0.3;
}

.tultip-icon {
  display: block;
}

.tultip-container {
  position: absolute;
  top: 100%;
  display: none;
  padding-top: 15px;
}

.tultip-text {
  box-sizing: border-box;
  padding: 20px 20px 23px;
  color: #ffffff;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: block;
  right: 115px;
}

.tultip-text::after {
  content: "";
  position: absolute;
  background-image: url("../images/modal-triangle.svg");
  width: 19px;
  height: 9px;
  left: 117px;
  top: -9px;
}
